doctype html
head
  meta(charset='UTF-8')
  title Todo List
  link(rel='stylesheet' href='resources/css/todo.css')
  script(src='resources/js/addItem.js' defer='')
div#addForm
    button(type="button" id="addButton") Add item